# Environments
.env
.venv
venv/
__pycache__/

# Credentials
credentials/service-account-local.json

# IDE / OS specific
.DS_Store
.vscode/
.idea/
.cursor/

# Build artifacts
*.pyc
*.pyo
*.pyd
dist/
build/
*.egg-info

